{% load user_agents %}
{% load static %}
<div class="faq-container">
    <h1>FAQ's</h1>
    <div class="faq-contact-info">
        <p>Can't find what your looking for?</p>
        <p> Contact us at <a href=mailto:<contact@swapdrop.email>contact@swapdrop.email</a></p>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">What is Swapdrop?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Swapdrop is a social clothes swapping platform where you can renew your wardrobe by swapping
                    your clothes with other users.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">How does Swapdrop work?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Once you’ve uploaded items you can begin the search for a swap. You can explore other users' items
                    through our feed and make a swap offer on any item you like. Our users decide which offers to make,
                    accept and reject.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">Why swap?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Swapping is an easy, inexpensive, fun and environmentally friendly way for you to renew your wardrobe.
                    At Swapdrop we believe in creating a world where your wardrobe is constantly evolving.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">Is Swapping good for the environment?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Yes! Swapping is a great way to change your unsustainable fashion consumption habits.
                    Every time you swap instead of buying something new you help reduce your carbon footprint and the enormous water requirements in the production of each new item of clothing.
                    Our courier system and packaging are also both carbon neutral, with our mailing bags made out of recyclable sugar cane.

                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">What happens after I agree to a Swap?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Once a match has been made both users have 48 hours to complete the checkout process.
                    You will simply be required to enter your address and choose a pick-up time. We will take the swap payment at the point of pick-up.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">Can I accept more than 1 item?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    At the moment we can only accommodate a 1 for 1 swap per transaction.
                    This means that only one given item can be swapped for any other given single item on our site.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">Do I have to organise shipping?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    No - We pick-up your item and carry out the delivery using our integrated courier system.
                    Simply enter your address, choose a pick-up time and relax.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">How much does a swap cost?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Each swap costs £5 per person - this covers our door-to-door pickup and delivery service.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">How will you take my payment?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    We will take your payment when we collect your item using a card reader. We’re currently integrating online payment onto our site.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">How does the pick-up work?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    During check out we’ll ask you to choose a pick-up slot.
                    Before the pick-up slot you should make sure you have cleaned your item and have it ready to pass
                    to our delivery rider (No need to put it in packaging). Our rider will then take your payment via contactless card payment.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">How long will it take for my item to be delivered?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    Your item will be delivered within 4 days of the end of the initial 48 hour checkout process.
                    This allows us to give our users flexibility on choosing a pick-up time.
                </p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-2" aria-expanded="false">
            <span class="accordion-title">What do these icons mean?
            </span>
                <img class="faq-num-offers-icon" src="{% static "assets/number_of_offers_icon_for_faq.png" %}"
                     alt="Untitled">
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>They show you how many items have been offered for the pictured item. For example this item has had 7
                    items
                    offered. It is up to the items owner to decide which item to accept.</p>
            </div>
        </div>

        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
                <span class="accordion-title">When will Swapdrop be available in my area?</span>
                <span class="plus-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>
                    We’re working hard to make Swapdrop available for everyone to enjoy.
                    Before we do that we’re making sure it fits the bill.
                    We’re currently testing our product within select areas before a wider launch in September.
                </p>
            </div>
        </div>
</div>


<!-- partial -->
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script>
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');

        for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
        }

        if (itemToggle === 'false') {
            this.setAttribute('aria-expanded', 'true');
        }
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>