{% load static %}
{% load user_agents %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'homepage/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'swaps/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'products/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkout/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/image-picker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/croppie.css' %}">

    <!-- Optional JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script src={% static 'image-picker.js' %}></script>
    <script src={% static 'croppie.js' %}></script>
    <script src="{% static 'jquery.slidereveal.min.js' %}"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'assets/white_logo.png' %}"/>
    <link rel="apple-touch-icon" type="image/png" href="{% static 'assets/orange_on_white_logo.png' %}"/>
    <link rel="icon" type="image/png" href="{% static 'assets/orange_on_white_logo.png' %}"/>

    {% if title %}
        <title>Swapdrop - {{ title }}</title>
    {% else %}
        <title> Swapdrop</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar bg-col shadow fixed-top" style="margin-right: 0">
               <div class="row" style="width: 100%;">
                   <div class="col-3">
                       {% if request|is_mobile %}
                           <img src="{% static "assets/orange_on_white_logo.png" %}" style="width: 50%; margin-top: 5%">
                       {% else %}
                            <span class="nav-swapdrop"> Swapdrop </span>
                            <img src="{% static "assets/orange_on_white_logo.png" %}" style="vertical-align: middle; width: 40px">
                       {% endif %}
                   </div>

                  <div class="col-6">
                      <ul class="nav nav-pills" style="margin-left: 5%">
                          <li class="nav-item" style="margin-left: auto">
                            <a id="feed-nav-link" class="nav-item nav-link" href="{% url 'product-feed' %}">Feed</a>
                          </li>
                          <li class="nav-item" style="margin-right: auto">
                            <a id="profile-nav-link" class="nav-item nav-link" href="{% url 'profile-your-items' %}">Profile</a>
                          </li>
                      </ul>
                  </div>

                   <div class="col-3" style="text-align: right; vertical-align: middle">
                       <a id="trigger" style="margin-right: -10%">
                           {% if request|is_mobile %}
                               <img class="menu-icon" alt="menu icon" src="{% static "assets/three_dot_menu_icon.png" %}" style="width: 30%; margin-top: 15%; margin-right: -30%">
                           {% else %}
                               <img class="menu-icon" alt="menu icon" src="{% static "assets/three_dot_menu_icon.png" %}" style="width: 30px; margin-top: 10px">
                           {% endif %}

                       </a>
                   </div>
               </div>
      </nav>

    <!-- Sidebar menu -->
    <div id="slider" class="slider" style="text-align: left">
      <ul style="list-style-type: none; ">
          <li> <a href="{% url "shipping-address-info" %}">Shipping Address</a> </li>
          <li> <a href="{% url "profile-info" %}">Profile Info</a> </li>
          <li> <a href="{% url "terms-of-service" %}">Terms of Service</a> </li>
          <li> <a href="{% url "privacy" %}">Privacy Agreement</a> </li>
          <li> <a href="{% url "logout" %}">Logout</a> </li>
      </ul>
    </div>

    <script>
        $(function($) {
          var slider = $("#slider").slideReveal({
            trigger: $("#trigger"),
            show: function(slider, trigger){$("#slider").css('display', 'block')},
            hidden: function(slider, trigger){$("#slider").css('display', 'none')},
            push: false,
            overlay: true,
            position: 'right',
            width: '50%',
            top: 100,
            overlayColor: 'rgba(0,0,0,0.9)',
            speed: 400,

          });
        });

       function hideSlider(){
           $("#slider").slideReveal("hide")
       }

    </script>



    {{ request.resolver_match.url_name|json_script:"current-url-name" }}
    <script>
        // add underline to Feed or Profile depending on URL
        let currentUrlName = JSON.parse(document.getElementById('current-url-name').textContent);
        if (currentUrlName.includes('profile')){
            $("#profile-nav-link").addClass("nav-link-underline")
        } else if (currentUrlName.includes('feed')){
            $("#feed-nav-link").addClass("nav-link-underline")
        }
    </script>

    </header>
    <main role="main">
         <div >
           {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
         </div>

    </main>
</body>
</html>