{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/landing_page.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Swapdrop</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4 content1">

                <!-- Intro Text -->
                <div>
                    <h1 class="h1 montserrat orange">
                        Swapdrop
                    </h1>

                    <h2 class="h2 montserrat orange">
                        Explore. Swap. Drop.
                    </h2>

                    <h2 class="h2 montserrat orange">
                        A new way to shop.
                    </h2>
                </div>

                <!-- Register Interest -->
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="input-group register-container">
                        <!-- Note custom attributes are added in the LandingPageForm -->
                        {{ form.email }}
                      <div class="input-group-append">
                        <button class="btn register-button" type="submit" id="submit-button">Notify Me</button>
                      </div>
                    </div>

                    <!-- Success message-->
                    {% if submitted %}
                        <h6 id="fadeout-text" class="montserrat orange"> Thanks - we'll keep you posted.</h6>
                        <script>
                        setTimeout(function() {
                             document.getElementById("fadeout-text").classList.add("fadeout")
                          }, 1000);

                        </script>
                    {% endif %}

                    <!-- Error message-->
                    {% if form.errors %}
                        <script>
                            let textBox = document.getElementById('id_email');
                            textBox.value = '';
                            textBox.placeholder='Enter a valid email';
                            textBox.style.borderColor = 'red';
                        </script>
                    {% endif %}
                </form>

            </div>

            <div class="col-6" style="text-align: center">
                <img alt="logo" src="/media/assets/mockup_over_logo_large.png" class="logo">
            </div>

        </div>

        <!-- Say hello to the swapping revolution. -->
        <div class="row">
            <div class="col-12" style="text-align: center; margin-bottom: 5%">
                <h2 class="montserrat orange" style="font-size: 3.5vw">
                    Say hello to the swapping revolution.
                </h2>
            </div>
        </div>

        <!-- 3 column icons -->
        <div class="row">
            <div class="col-4 explanation-col">
                <img alt="logo" src="/media/assets/upload_icon.png" class="explanation-img" style="margin-top: -5%">
            </div>

            <div class="col-4 explanation-col">
                <img alt="logo" src="/media/assets/hand_shake_icon.png" class="explanation-img">
            </div>

            <div class="col-4 explanation-col">
                <img alt="logo" src="/media/assets/map_icon.png" class="explanation-img">
            </div>
        </div>

        <!-- 3 column text -->
        <div class="row">
            <div class="col-4 explanation-col">
                <h3 class="h3 montserrat black"> Upload </h3>
                <p> Create an account and upload pictures of clothes you're looking to swap. </p>
            </div>

            <div class="col-4 explanation-col">
                <h3 class="h3 montserrat black"> Swap </h3>
                <p> Explore your feed and discover your style. Make, receive and review offers to find swaps you love. </p>
            </div>

            <div class="col-4 explanation-col">
                <h3 class="h3 montserrat black"> Relax </h3>
                <p> Enter your address, choose a pick-up time and relax. We've got it from here. </p>
            </div>
        </div>

        <!-- Find your fashion in a world of individuals. -->
        <div class="row">
            <div class="col-12" style="text-align: center; margin-bottom: 5%; margin-top: 5%">
                <h2 class="montserrat orange" style="font-size: 3.5vw">
                    Find your fashion in a world of individuals.
                </h2>
            </div>
        </div>

        <!-- Collage -->
        <div class="row">
            <div class="col-12" style="text-align: center">
                 <img src="/media/assets/mockup_over_images_large.png" style="height: 400px">
            </div>
        </div>

        <!-- Footer -->
        <div class="row footer" style="margin-top: -3.5%">

            <!-- Socials -->
            <div class="col-4" style="margin-top: 2%; margin-bottom: 2%">

                <!-- Facebook -->
                <div style="margin-left: 10%; margin-top: 1%; margin-bottom: 1%">
                    <a href="https://www.facebook.com/Swapdrop-113262147053674" style="color: white" target="_blank">
                        <img src="/media/assets/facebook_icon.png" style="width: 5%; vertical-align: middle">
                        <h1 style="color: white; font-size: 1vw; display: inline"> Swapdrop </h1>
                    </a>

                </div>

                <!-- Instagram -->
                <div style="margin-left: 10%; margin-top: 1%; margin-bottom: 1%">
                    <a href="https://www.instagram.com/swapdropapp/" style="color: white" target="_blank">
                        <img src="/media/assets/instagram_icon.png" style="width: 5%; vertical-align: middle">
                        <h1 style="color: white; font-size: 1vw; display: inline"> @swapdropapp </h1>
                    </a>

                </div>

                <div style="margin-left: 10%; margin-top: 1%; margin-bottom: 1%">
                    <img src="/media/assets/twitter_icon.png" style="width: 5%; vertical-align: middle">
                    <h1 style="color: white; font-size: 1vw; display: inline"> @Swapdrop </h1>
                </div>

                <!-- Email -->
                <div style="margin-left: 10%; margin-top: 1%; margin-bottom: 1%">
                    <img src="/media/assets/email_icon.png" style="width: 5%; vertical-align: middle">
                    <h1 style="color: white; font-size: 1vw; display: inline"> contact@swapdrop.email </h1>
                </div>
            </div>

            <div class="col-4 offset-4" style="text-align: right">
                <div style="margin-right: 10%; margin-top: 20%; margin-bottom: 1%">
                    <h1 class="montserrat" style="color: white; font-size: 2vw; display: inline"> Swapdrop </h1>
                    <img src="/media/assets/white_logo.png" style="width: 10%; vertical-align: middle">
                </div>
            </div>


        </div>



    </div>

</body>
</html>