{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/landing-page.css' %}">
<script src={% static 'landing-page.js' %}></script>
<title>Swapdrop</title>

</head>
<body>
<div id="Design_4___6">
	<div id="red_and_orange_logo" class="red_and_orange_logo">
		<img id="red_and_orange_logo" src="media/assets/red_and_orange_logo.png">
	</div>
	<div id="Swapdrop">
		<span>Swapdrop</span>
	</div>
	<div id="Explore__Swap__Drop__A_new_way">
		<span>Explore. Swap. Drop.<br/>A new way to shop.</span>
	</div>
	<div id="Say_hello_to_the_swapping_revo">
		<span>Say hello to the swapping revolution.</span>
	</div>
	<div id="Find_your_fashion_in_a_world_o">
		<span>Find </span><span style="font-style:normal;font-weight:bold;">your</span><span> fashion in a world of individuals. </span>
	</div>
	<div id="Component_1___1" class="Component_1___1">
		<div id="Group_3">
			<svg class="Rectangle_1">
				<rect fill="rgba(247,247,247,1)" id="Rectangle_1" rx="23" ry="23" x="0" y="0" width="388" height="63">
				</rect>
			</svg>
			<div id="Sign_up">
				<span>Sign up</span>
			</div>
		</div>
		<div id="Group_3_q">
			<svg class="Rectangle_1_s">
				<linearGradient id="Rectangle_1_s" spreadMethod="pad" x1="1.056" x2="0.097" y1="0" y2="1">
					<stop offset="0" stop-color="#ff3b00" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#ff7600" stop-opacity="1"></stop>
				</linearGradient>
				<rect fill="url(#Rectangle_1_s)" id="Rectangle_1_s" rx="0" ry="0" x="0" y="0" width="147" height="63">
				</rect>
			</svg>
			<div id="Register_Interest">
				<span>Register Interest</span>
			</div>
		</div>
	</div>
	<div id="Create_an_account_and_upload_p">
		<span>Create an account and upload pictures of clothes you’re  looking to swap.</span>
	</div>
	<div id="Explore_your_feed_and_find_you">
		<span>Explore your feed and find your  style. Make, receive and review offers and find your next swap.</span><br>
	</div>
	<div id="Enter_your_delivery_address__c">
		<span>Enter your delivery address, choose a pickup time, sit back and relax. We’ve got it from here. </span>
	</div>
	<div id="______">
		<span>      </span>
	</div>
	<div id="_">
		<span> </span>
	</div>
	<div id="__z">
		<span></span><br>
	</div>
	<div id="Upload">
		<span>Upload</span>
	</div>
	<div id="woman_with_brown_crossbody_bag" class="woman_with_brown_crossbody_bag_3283529">
		<img id="woman_with_brown_crossbody_bag_" src="media/assets/woman_with_brown_bag.png">
	</div>
	<div id="Swap">
		<span>Swap</span>
	</div>
	<div id="Relax">
		<span>Relax</span>
	</div>
	<div id="photo_of_man_riding_skateboard" class="photo_of_man_riding_skateboard_on_pedestrian_2083866">
		<img id="photo_of_man_riding_skateboard_" src="media/assets/man_riding_skateboard.png">
	</div>
	<div id="map_gradient" class="map_gradient">
		<img id="map_gradient_" src="map_gradient_.png" srcset="map_gradient_.png 1x, map_gradient_@2x.png 2x">
	</div>
	<svg class="Rectangle_1077">
		<rect fill="rgba(247,247,247,1)" id="Rectangle_1077" rx="0" ry="0" x="0" y="0" width="367" height="101">
		</rect>
	</svg>
	<div id="hand_gradient" class="hand_gradient">
		<img id="hand_gradient_bb" src="hand_gradient_bb.png" srcset="hand_gradient_bb.png 1x, hand_gradient_bb@2x.png 2x">
	</div>
	<div id="hanger_gradient" class="hanger_gradient">
		<img id="hanger_gradient_bd" src="hanger_gradient_bd.png" srcset="hanger_gradient_bd.png 1x, hanger_gradient_bd@2x.png 2x">
	</div>
	<div id="free_iphonex_mockup2" class="free_iphonex_mockup2">
		<img id="free_iphonex_mockup2_bf" src="free_iphonex_mockup2_bf.png" srcset="free_iphonex_mockup2_bf.png 1x, free_iphonex_mockup2_bf@2x.png 2x">
	</div>
	<svg class="Path_835" viewBox="2707 -1175.103 1 1">
		<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_835" d="M 2707 -1175.103393554688">
		</path>
	</svg>
	<img id="white_logo" src="white_logo.png" srcset="white_logo.png 1x, white_logo@2x.png 2x">
	<div id="Swapdrop_bw">
		<span>Swapdrop</span>
	</div>
	<div id="Component_3___1" class="Component_3___1">
		<svg class="Rectangle_11_bl">
			<linearGradient id="Rectangle_11_bl" spreadMethod="pad" x1="1" x2="0" y1="0" y2="1">
				<stop offset="0" stop-color="#ff3b00" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#ff7600" stop-opacity="1"></stop>
			</linearGradient>
			<rect fill="url(#Rectangle_11_bl)" id="Rectangle_11_bl" rx="0" ry="0" x="0" y="0" width="1280" height="225">
			</rect>
		</svg>
	</div>
	<div id="contact_swapdrop_email">
		<span>contact@swapdrop.email</span>
	</div>
	<div id="free_iphonex_mockup" class="free_iphonex_mockup">
		<div id="free_iphonex_mockup_bo">
			<img id="free_iphonex_mockup_bp" src="free_iphonex_mockup_bp.png" srcset="free_iphonex_mockup_bp.png 1x, free_iphonex_mockup_bp@2x.png 2x">
		</div>
	</div>
	<div id="Swapdrop_bq">
		<span>Swapdrop</span>
	</div>
	<div id="_Swapdrop1">
		<span>@Swapdrop1</span>
	</div>
	<div id="_Swapdropapp">
		<span>@Swapdropapp</span>
	</div>
	<img id="blur" src="blur.png" srcset="blur.png 1x, blur@2x.png 2x">
	<div id="white_logo_bu" class="white_logo">
		<img id="white_logo_bv" src="white_logo_bv.png" srcset="white_logo_bv.png 1x, white_logo_bv@2x.png 2x">
	</div>
	<div id="Swapdrop_bw">
		<span>Swapdrop</span>
	</div>
	<div id="Email">
		<span>Email</span>
	</div>
</div>
</body>
</html>