{% extends "homepage/base.html" %}
{% load static %}
{% load user_agents %}
{% block content %}
    <div {% if request|is_pc %} style="margin-left: 20%; margin-right: 20%" {% else %} style="margin-left: 10%; margin-right: 10%"  {% endif %}>
        <h1 style="font-size: 40px">Privacy Agreement</h1>
        <br>
        <h2 style="font-size: 30px">General</h2><br>
        <p>Throughout this document and our <strong><i>Privacy Agreement</i></strong> we interchangeably use the terms
            “we”, “us” and “our” to refer to Swapdrop. Swapdrop offers this website and our services including all our
            facilities, tools and platforms available from this site to “You”, the “User” or the “Party” conditioned
            upon your acceptance of all terms, conditions, policies, notices and privacy agreements as stated in our
            Terms of Service and here within our Privacy Agreement..

            <br><br>This privacy policy outlines the process in which <strong>Swapdrop</strong> collects, uses and
            shares information and data associated or identified to you, a user of the service we provide.

            <br><br>Our service is provided by Swapdrop LTD a company registered and incorporated Companies House UK
            under company number 12594521.</p>
        </p>
        <br>
        <h2 style="font-size: 20px">How do we collect your information and data?</h2>

        <br>
        <p>We collect your information and data in a number of ways in order to provide you with an exceptional and
            constantly improving service. Here are a few of the ways we collect your information and data:

            <br><br><strong>Cookies:</strong> Cookies are text files placed on your computer to collect standard
            Internet log information and visitor behaviour information. When you visit our websites, we may collect
            information automatically through cookies or similar technology.

            <br><br><strong>Self Provided Personal Identifying Information:</strong> We may ask you to provide
            information about yourself for a number of reasons as detailed below. We will gather this data using forms
            or other similar methods.

            <br><br><strong>Direct User Upload:</strong> Our users may provide us with information and data directly
            through uploading it through our website.

        </p>

        <br>
        <h2 style="font-size: 20px">Why and What information or data may we collect and use?</h2>

        <br>
        <p>Swapdrop collect and receive your information and data in order to provide our service and to perform a
            contract with you. We collect your information and data on a voluntary basis upon your registration to our
            service. We strive to openly protect and respect your privacy.

            <br><br>Swapdrop may collect your information and data in a variety of ways and provide it to other users
            and third parties where appropriate for the following reasons:


            <br><br>
        <ul>
            <li><strong>Registration.</strong> In order for you to register an account to use our services, we collect
                and use the following information and data upon registration; Full Name, User Name, Postcode of Address
                at which you reside and a Password.
            </li>
            <br>
            <li><strong>Profile Information.</strong> Upon registration you may decide to add information about yourself
                to your profile in order to personalise and improve your experience of our service. Where and when you
                choose to provide this information we may collect and use the following information; Profile Photo,
                Profile Bio, Primary Clothes Interest (Menswear or/and Womenswear), Clothing and Shoe Sizes.
            </li>
            <br>
            <li><strong>Item Upload.</strong> You may decide to upload items in order to use our service. Where and when
                you decide to do this we shall collect and use the following information and data: Item Gender
                Association (Womenswear / Menswear / Unisex), Item Size, Item Description.
            </li>
            <br>
            <li><strong>Interaction with our Service.</strong> In order to use and engage with our services you may wish
                to make, accept or reject offers to swap with other users, accessible through your feed or profile. In
                doing so other users may also provide information associated with you and your items. Where and when
                this occurs and/or you decide to do this, we shall collect and use the following information and data:
                Swap offers you make, Swap offers you reject, Swap offers you accept, images of your items, images of
                other users items, description of your items, description of other users item, size of your item, size
                of other users items, item gender associated to your or other users items.
            </li>
            <br>
            <li><strong>General Usage.</strong> In order to create an exceptional user experience we may collect
                information and data for use with third party analytics software. We may collect and use the following
                information and data: button clicks, visiting time, notifications read, page views and other information
                depending on particular business cases.
            </li>
            <br>
            <li><strong>Notifications.</strong> In order to provide you with the best possible service, we may collect
                information and data in order to use it to notify you on the progress and state of your items. We may
                collect and use the following information and data: Full Name, Email Address, Item State and Number of
                Offers on Your Items.
            </li>
            <br>
            <li><strong>Payment.</strong> In order to provide you with the ability to pay for our service, we may
                collect information and data to enable our third party payment system, <a
                        href="https://www.squareup.com/">Square</a>, from taking your payment. You can find their
                privacy policy <a
                        href="https://squareup.com/gb/en/legal/general/privacy-no-account?country_redirection=true/"><i>here</i></a>
                We may collect and use the following information and data to enable your payment: Your Name, Billing
                Address, Email and Card Details.
            </li>
            <br>
            <li><strong>To Contact You.</strong> In order to be able to contact you where and when required, we may
                collect and use the following information and data to enable your payment: Email Address, Full name,
                Contact Telephone Number.
            </li>
            <br>
            <li><strong>Advertisement.</strong> In order to reach other users to maximise your enjoyment of our
                services, we may collect and use the following information and data:
                Photos of Uploaded Items and Email Address.
            </li>
        </ul>
        </p>

        <br>
        <h2 style="font-size: 20px">What are your data protection rights?</h2>

        <br>
        <p>At Swapdrop we want to make you fully aware of your data protection rights. All of our users are entitled to
            the following:

            <br><br><strong>Your right to access:</strong> You have the right to request our company for copies of your
            personal data. We may charge you a small fee for this service.

            <br><br><strong>The right to rectification:</strong> You have the right to request our company correct any
            information you believe is inaccurate. You also have the right to request our company to complete
            information you believe is incomplete.

            <br><br><strong>The right to erasure:</strong> You have the right to request our company erase your personal
            data, under certain conditions.

            <br><br><strong>The right to restrict processing:</strong> You have the right to object to our company’s
            processing of your personal data, under certain conditions.

            <br><br><strong>The right to data portability:</strong> You have the right to request that our company
            transfer the data that we have collected to another organisation, or directly to you, under certain
            conditions.

            <br><br>If you make a request, we have a month to respond to you. If you would like to exercise any of these
            rights please contact us at contact@swapdrop.email under the subject heading RE: Privacy. </P>

        <br>
        <h2 style="font-size: 20px">Changes to our Privacy Policy</h2>

        <br>
        <p>Swapdrop keeps its privacy policy under regular review and following GDPR guidelines. You may find the latest
            version of our Privacy Policy at any time on this page. This page was last updated on 15 June 2020.</p>

        <br>
        <h2 style="font-size: 20px">How to contact us</h2>

        <br>
        <p>If you have any questions or concerns about Swapdrops Privacy Policy, the data we hold on you, or you would
            like to exercise your data protection rights, please contact us at contact@swapdrop email under the subject
            RE: Privacy.</p>


        </P></div>
{% endblock content %}