
.faq-container{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 100px;
}

.faq-contact-info{
  font-size: 20px;
}

@media (max-width: 768px) {
  .faq-contact-info{
    font-size: 16px;
  }
}

.accordion .accordion-item {
  border-bottom: 1px solid rgb(165, 165, 165);
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid orange;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: black;
  font-size: 24px;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .accordion button {
     font-size: 4vw;
  }
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: black;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .plus-icon {
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .plus-icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 6px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .plus-icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 10px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.num-offers-icon {
  display: inline-block;
  position: absolute;
  top: 20%;
  margin-left: -25px;
  height: 60%;
}

.accordion button[aria-expanded='true'] {
  color: orangered;
}

.accordion .accordion-item[aria-expanded='false'] {
  color: black;
}

.accordion button[aria-expanded='true'] .plus-icon::after {
  color: orangered;
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 11em;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}



