
.mediaViewInfo {
    --web-view-name: Design 4 – 6;
    --web-view-id: Design_4___6;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Design_4___6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Design_4___6 {
    position: absolute;
    width: 1280px;
    height: 2652px;
    background-color: rgba(247, 247, 247, 1);
    overflow: hidden;
    --web-view-name: Design 4 – 6;
    --web-view-id: Design_4___6;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#red_and_orange_logo {
    position: absolute;
    width: 842px;
    height: 842px;
    left: 456px;
    top: -11px;
    overflow: visible;
}

#red_and_orange_logo_h {
    position: absolute;
    width: 842px;
    height: 842px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Swapdrop {
    position: absolute;
    left: 68px;
    top: 147px;
    overflow: visible;
    width: 511px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    color: rgba(255, 59, 0, 1);
}

#Explore__Swap__Drop__A_new_way {
    position: absolute;
    left: 68px;
    top: 293px;
    overflow: visible;
    width: 420px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    color: rgba(255, 59, 0, 1);
}

#Say_hello_to_the_swapping_revo {
    position: absolute;
    left: 120px;
    top: 949px;
    overflow: hidden;
    width: 1041px;
    height: 63px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    color: rgba(255, 59, 0, 1);
}

#Find_your_fashion_in_a_world_o {
    position: absolute;
    left: 236px;
    top: 1695px;
    overflow: visible;
    width: 809px;
    height: 56px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(255, 59, 0, 1);
}

#Component_1___1 {
    position: absolute;
    width: 413px;
    height: 63px;
    left: 70px;
    top: 534px;
    overflow: visible;
}

#Group_3 {
    position: absolute;
    width: 388px;
    height: 63px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Rectangle_1 {
    filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.239));
    position: absolute;
    overflow: visible;
    width: 415px;
    height: 90px;
    left: 0px;
    top: 0px;
}

#Sign_up {
    position: absolute;
    left: 252px;
    top: 23px;
    overflow: visible;
    width: 56px;
    height: 18px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(247, 247, 247, 1);
}

#Group_3_q {
    position: absolute;
    width: 147px;
    height: 63px;
    left: 266px;
    top: 0px;
    overflow: visible;
}

.Rectangle_1_s {
    filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.239));
    position: absolute;
    overflow: visible;
    width: 174px;
    height: 90px;
    left: 0px;
    top: 0px;
}

#Register_Interest {
    position: absolute;
    left: 8px;
    top: 23px;
    overflow: visible;
    width: 123px;
    height: 18px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

#Create_an_account_and_upload_p {
    position: absolute;
    left: 92px;
    top: 1462px;
    overflow: visible;
    width: 289px;
    height: 81px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#Explore_your_feed_and_find_you {
    position: absolute;
    left: 496px;
    top: 1462px;
    overflow: hidden;
    width: 289px;
    height: 81px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#Enter_your_delivery_address__c {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    left: 880px;
    top: 1462px;
    overflow: visible;
    width: 303px;
    height: 81px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#______ {
    position: absolute;
    left: 803px;
    top: 1683px;
    overflow: visible;
    width: 34px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
}

#_ {
    position: absolute;
    left: 813px;
    top: 1833px;
    overflow: visible;
    width: 7px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
}

#__z {
    position: absolute;
    left: 523px;
    top: 2082px;
    overflow: visible;
    width: 1px;
    height: 60px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 85, 16, 1);
}

#Upload {
    position: absolute;
    left: 169px;
    top: 1389px;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
}

#woman_with_brown_crossbody_bag {
    position: absolute;
    width: 294px;
    height: 441.5px;
    left: 739.522px;
    top: 2021.652px;
    overflow: visible;
}

#woman_with_brown_crossbody_bag_ {
    position: absolute;
    width: 294px;
    height: 441.5px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Swap {
    position: absolute;
    left: 589px;
    top: 1389px;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
}

#Relax {
    position: absolute;
    left: 979px;
    top: 1389px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
}

#photo_of_man_riding_skateboard {
    position: absolute;
    width: 256.5px;
    height: 383.5px;
    left: 267px;
    top: 1797px;
    overflow: visible;
}

#photo_of_man_riding_skateboard_ {
    position: absolute;
    width: 256.5px;
    height: 383.5px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#map_gradient {
    position: absolute;
    width: 197px;
    height: 178px;
    left: 932px;
    top: 1135px;
    overflow: visible;
}

#map_gradient_ {
    position: absolute;
    width: 197px;
    height: 178px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Rectangle_1077 {
    position: absolute;
    overflow: visible;
    width: 367px;
    height: 101px;
    left: 733px;
    top: 2397px;
}

#hand_gradient {
    position: absolute;
    width: 178px;
    height: 181px;
    left: 551px;
    top: 1133px;
    overflow: visible;
}

#hand_gradient_bb {
    position: absolute;
    width: 178px;
    height: 181px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#hanger_gradient {
    position: absolute;
    width: 187px;
    height: 265px;
    left: 147px;
    top: 1091px;
    overflow: visible;
}

#hanger_gradient_bd {
    position: absolute;
    width: 187px;
    height: 265px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#free_iphonex_mockup2 {
    position: absolute;
    width: 1013.618px;
    height: 829.485px;
    left: 396.691px;
    top: 119.257px;
    overflow: visible;
}

#free_iphonex_mockup2_bf {
    position: absolute;
    width: 1013.618px;
    height: 829.485px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Path_835 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0px;
    top: 63.897px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#white_logo {
    position: absolute;
    width: 32px;
    height: 34px;
    left: 1198px;
    top: 2524px;
    overflow: visible;
}

#Swapdrop_bw {
    position: absolute;
    left: 1044px;
    top: 2524px;
    overflow: visible;
    width: 150px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
}

#Component_3___1 {
    position: absolute;
    width: 1280px;
    height: 225px;
    left: 0px;
    top: 2428px;
    overflow: visible;
}

.Rectangle_11_bl {
    width: 1280px;
    height: 225px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
    transform-origin: center;
}

#contact_swapdrop_email {
    position: absolute;
    left: 64px;
    top: 2575px;
    overflow: visible;
    width: 221px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
}

#free_iphonex_mockup {
    position: absolute;
    width: 1077px;
    height: 808px;
    left: 78px;
    top: 1762px;
    overflow: visible;
}

#free_iphonex_mockup_bo {
    position: absolute;
    width: 1052.789px;
    height: 789.534px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#free_iphonex_mockup_bp {
    position: absolute;
    width: 1052.789px;
    height: 789.534px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Swapdrop_bq {
    position: absolute;
    left: 64px;
    top: 2486px;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

#_Swapdrop1 {
    position: absolute;
    left: 62px;
    top: 2515px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

#_Swapdropapp {
    position: absolute;
    left: 64px;
    top: 2544px;
    overflow: visible;
    width: 139px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
}

#blur {
    position: absolute;
    width: 24px;
    height: 115px;
    left: 31px;
    top: 2483px;
    overflow: visible;
}

#white_logo_bu {
    position: absolute;
    width: 32px;
    height: 34px;
    left: 1198px;
    top: 2524px;
    overflow: visible;
}

#white_logo_bv {
    position: absolute;
    width: 32px;
    height: 34px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Swapdrop_bw {
    position: absolute;
    left: 1044px;
    top: 2524px;
    overflow: visible;
    width: 150px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
}

#Email {
    position: absolute;
    left: 92px;
    top: 555px;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}
