body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-orange {
  background-color: rgb(255, 59, 0);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.site-header .nav-swapdrop {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  font-weight: 800;
  margin-bottom: 0;
}

.site-header .nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #cbd5db;
  font-weight: bold;
  font-size: 100%;
}

.nav-link-underline {
  text-decoration: underline;
}

.site-header .nav-link:hover {
  color: #ffffff;
}

.site-header .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.feed-img {
  height: 20px;
  width: 20px
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.slider {
  display: none;
  margin-right: 25%;
}

.slider li{
  margin-top: 5%;
}

.slider a{
  color: #cbd5db;
  font-family: 'Montserrat', sans-serif;
  font-size: 125%;
  font-weight: bold;
  text-decoration: none;
}

.slider a.closebtn{
  font-size: 250%;
}

.slider a:hover{
  color: #ffffff;
  font-weight: bolder;
}