{% extends "products/_base_feed_component.html" %}
{% block single_product %}
  <script>
    function changeBorderColour(el) {
        let image = el.getElementsByTagName('img')[0];
        if (image.style.borderColor === 'white')
            {image.style.borderColor = 'green';}
        else {
            {image.style.borderColor = 'white';}
        }
    }
  </script>
  <div class="col-md-3" style="margin-top:20px">
        <label for="{{ product.id }}" onclick="changeBorderColour(this);">
            <img class="grid-item thumbnail" src="{{ product.image.url }}" style="border-width: 5px; border-color: green; border-style: solid; height: 100%; width: 100%; visibility: hidden;">
        </label>
        <input type="checkbox" id="{{ product.id }}" name="{{ product.id }}" checked="checked" style="display: none">
  </div>
{% endblock %}