{% extends "homepage/base.html" %}
{% block content %}
    {%  if products %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group" style="text-align: center">
                    <h2>Select which items you're willing to swap?</h2>
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>

            {%  %}
    {% else %}
        <div class="form-group" style="text-align: center">
            <h2>You must upload at least one item to swap!</h2>
            <a class="btn btn-outline-info" href="{% url 'product-create' %}">Upload Your First Item</a>
        </div>
    {% endif %}
{% endblock content %}