{% extends "homepage/base.html" %}
{% block content %}


    <div class="row">
        <div class="col-6">
            <h3 class="out-in-text"> Out </h3>
            <div class="checkout-item-container">
                <img class="checkout-item-img" src="{{ product.image.url }}">
                <div class="item-owner-container">
                    <img class="rounded-circle checkout-profile-pic" src="{{ product.owner.profile.image.url }}" style="width: 50px; height: 50px;">
                    <h6 class="checkout-username">{{ product.owner.username }} </h6>
                </div>
            </div>
        </div>

        <div class="col-6">
            <h3 class="out-in-text"> In </h3>
            <div class="checkout-item-container">
                <img class="checkout-item-img" src="{{ other_users_product.image.url }}">
                <div class="item-owner-container">
                    <img class="rounded-circle checkout-profile-pic" src="{{ other_users_product.owner.profile.image.url }}" style="width: 50px; height: 50px;">
                    <h6 class="checkout-username">{{ other_users_product.owner.username }} </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row checkout-details-row">
        <div class="col-12 col-md-4" style="margin-top: 20px">
            <h6> Pick-up Address:</h6>
            <div class="checkout-detail-container">
                <h6> {{ user.profile.house_name_number }} {{ user.profile.address_line_1 }} </h6>
                <h6> {{ user.profile.town_city }} </h6>
                <h6> {{ user.profile.postcode }} </h6>
            </div>
        </div>
        <div class="col-12 col-md-4" style="margin-top: 20px">
            <h6> Scheduled Pick-up:</h6>
            <div class="checkout-detail-container">
                <h6> {{ selected_time_slot.time }} </h6>
                <h6> {{ selected_time_slot.day_str }} {{ selected_time_slot.date_str }} {{ selected_time_slot.month_str }} </h6>
            </div>
        </div>
        <div class="col-12 col-md-4" style="margin-top: 20px">
            <h6> Price:</h6>
            <div class="checkout-detail-container">
                <h6> £4.99 </h6>
                <h6>To be paid on collection </h6>
            </div>
        </div>

{#        Confirm payment#}
        <div class="col-12">
            <form method="post" style="width: 100%">
                {% csrf_token %}
                <div style="text-align: center; margin: 10% 20% 0 20%">
                    <button class="standard-swapdrop-btn" type="submit">
                        Confirm Payment
                    </button>
                </div>
            </form>
        </div>

    </div>
{% endblock content %}