{% extends "homepage/base.html" %}
{% block content %}

    <script>
        function changeColour(element) {
            let selected_slot = element.getElementsByTagName('div')[0];
            let all_slots = document.getElementsByClassName('time-slot-radio');
            let i;
            for (i=0; i<all_slots.length; i++){
                // first set all image borders to white
                all_slots[i].classList.remove('active');
            }
            // but set the selected one to green
            selected_slot.classList.add('active');
        }
    </script>

    <div class="time-slot-container">
        <p> Select a time for us to collect your item </p>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
                <div style="padding-bottom: 25px">
                    {% if grouped_time_slots %}
                        {% for time_slot_group in grouped_time_slots %}
                            {% for time_slot in time_slot_group %}
                                <div style="text-align: center">
                                    <input type="radio" name="time-slot-radio" id="{{ time_slot.id }}" value="{{ time_slot.id }}" class="invisible-radio">
                                    <label class="time-slot-label" for="{{ time_slot.id }}" onclick="changeColour(this);">
                                        <div class="time-slot-radio">
                                            {{ time_slot }}
                                        </div>
                                    </label>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <h2>oops.. no time slots available this week :(</h2>
                    {% endif %}
                </div>

                <button class="checkout-button" type="submit">Submit Booking</button>
        </form>
    </div>
{% endblock content %}