{% extends "products/_base_feed.html" %}
{% block single_product %}
    <div>
        <label for="{{ product.id }}" onclick="changeBorderColour(this);">
            <img class="grid-item thumbnail offer-img" src="{{ product.image.url }}" style="visibility: hidden;">
        </label>
        <input type="checkbox" id="{{ product.id }}" name="{{ product.id }}" style="display: none">
  </div>
  <script>
    function changeBorderColour(el) {
        $(el).find('img').toggleClass('offer-img-active')
    }
  </script>
{% endblock %}