{% extends "products/_base_feed.html" %}
{% block single_product %}
    <script>
    function changeBorderColour(element) {
        let selected_image = element.getElementsByTagName('img')[0];
        let all_images = document.getElementsByClassName('grid-item');
        let i;
        for (i=0; i<all_images.length; i++){
            // first set all image borders to white
            all_images[i].style.borderColor = 'white';
        }
        // but set the selected one to green
        selected_image.style.borderColor = 'rgb(255, 59, 0)';
    }
  </script>

  <div class="col-md-3" style="margin-top:20px">
    <label for="{{ product.id }}" onclick="changeBorderColour(this);">
        <img class="grid-item thumbnail" src="{{ product.image.url }}" style="border-width: 5px; border-color: white; border-style: solid; height: 100%; width: 100%; visibility: hidden;">
    </label>
      <!-- Hidden radio button to contain id of selected product -->
    <input type="radio" id="{{ product.id }}" name="product_id" value="{{ product.id }}" style="display: none">
  </div>

{% endblock %}