{% extends "homepage/base.html" %}
{% block content %}
    {%  if products %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" style="text-align: center">
                <h3>Select which items you want to offer</h3>
                <div style="text-align: center; margin: 5% 20% 5% 20%">
                    <button class="standard-swapdrop-btn" type="submit">Send Offer</button>
                </div>
            </div>
            {% include 'swaps/_make_offer_feed.html' %}
        </form>

    {% else %}
        <div class="form-group" style="text-align: center">
            <h2>You must have an item available to swap!</h2>
            <a class="btn btn-outline-info" href="{% url 'product-create' %}">Upload Item</a>
        </div>
    {% endif %}
{% endblock content %}