{% extends "homepage/base.html" %}
{% load user_agents %}
{% block content %}
    {%  if products %}

        <div {% if request|is_mobile %} style="margin-left: 5%; margin-right: 5%" {% else %} style="margin-left: 20%; margin-right: 20%" {% endif %}>
            <h3> click on an item to find out more </h3>
            {% include "swaps/_review_offers_feed.html" %}
        </div>

    {% else %}
        <div class="form-group" style="text-align: center">
            <h2>no offers yet - check back later!</h2>
        </div>
    {% endif %}
{% endblock content %}