{% extends "homepage/base.html" %}
{% block content %}
    {%  if products %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" style="text-align: center">
                <h2>Select one offer you'd like to accept</h2>
                <button class="btn btn-outline-info" type="submit">Accept Offer</button>
            </div>

            {% include "swaps/_review_offers_feed.html" %}

        </form>
    {% else %}
        <div class="form-group" style="text-align: center">
            <h2>no offers yet - check back later!</h2>
        </div>
    {% endif %}
{% endblock content %}