

/*checkout.html*/

.checkout-img-row{
  display: flex;
  align-items:center;
  margin-top: 10%;
  margin-bottom: 5%;
}

@media only screen and (max-width: 600px) {
  .checkout-img-row{
      margin-top: 50px;
  }
}

.checkout-img{
  width: 50%;
  border: 1px solid rgb(255, 59, 0);
  border-radius: 40px;
  box-shadow: 0 0 5px 4px rgb(255, 59, 0);
}

@media only screen and (max-width: 600px) {
  .checkout-img{
    width: 60%;
    margin: 5%;
  }
}

.checkout-info-btn {
  width: 32px;
  height: 32px;
  background-color: white;
  border: none;
  border-radius: 50%;
  outline: none;
}

:hover {
  cursor: pointer;
}

.checkout-info-btn img {
  width: 100%;
  height: 100%;
}


/*Time slot page*/
.time-slot-container{
  text-align: center;
}

.invisible-radio {
  /* per https://a11yproject.com/posts/how-to-hide-content/ */
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.time-slot-label{
  width: 40%;
  background: white;
}

@media only screen and (max-width: 600px) {
  .time-slot-label{
  width: 80%;
  }
}

.time-slot-radio {
  background:  white;
  border: 1px solid lightgray;
  border-radius: 40px;
  margin-top: 15px;
  padding: 5%;
  width: 100%;
  color: grey;
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
}

.time-slot-radio.active {
  box-shadow: 0 0 2px 5px #FF5510;
}
