<! Used as a base component for product feed and profil feed - exposes single_product block to be extended>
<div>
    <div class="row" style="margin-left: 10%; margin-right: 10%">
        {% for product in products %}
            {% block single_product %} {% endblock %}
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function() {
        let images = $('.grid-item, .offer-status-icon');
        let i
        for (i=0; i<images.length; i++){
            images[i].style.visibility = 'visible'
        }
    });
</script>