{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- The slideshow -->
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ product.image.url }}" width="100%">
                        </div>
                        {% if product.image2 %}
                            <div class="carousel-item">
                                <img src="{{ product.image2.url }}" width="100%">
                            </div>
                        {% endif %}
                        {% if product.image3 %}
                            <div class="carousel-item">
                                <img src="{{ product.image3.url }}" width="100%">
                            </div>
                        {% endif %}
                        {% if product.image4 %}
                            <div class="carousel-item">
                                <img src="{{ product.image4.url }}" width="100%">
                            </div>
                        {% endif %}
                    </div>

                     {% if product.image2.url or product.image3.url or product.image4.url %}
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-md-6">
                {% block edit_delete_icons %}
                {% endblock edit_delete_icons %}

              <div style="text-align: center; margin-top: 5%">
                  <h2 class="article-title">{{ product.name }}</h2>
                  <a href="{% url "profile-other-user" product.owner.id %}"> Owner: {{ product.owner.username }}</a>
                  {#              <h6 class="article-title">Status: {{ product.status.label }}</h6>#}
                  <h6 class="article-title">Size: {{ product.size }}</h6>
                  <p class="article-content">{{ product.description }}</p>

                  <!-- this block will be filled with the action button/form e.g. 'make offer' etc. -->
                  {% block product_detail_action %}
                  {% endblock product_detail_action %}
              </div>

            </div>
        </div>
{% endblock content %}