{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="row border-bottom mb-4" style="margin-bottom: 5%">
        <h4> Upload Item </h4>
    </div>

    <div>
              <!-- Container for croppie - contains placeholder image at start -->
              <!-- NOTE- do NOT change the IDs carelessly here as they are used for the image cropping! -->
              <!-- Warning - do NOT place this inside form as click on upload image will bubble to other form fields -->
              <div class="row">
                  <div class="col-12 col-md-6">
                    <div id="croppie_container_image" class="croppie-div">
                          <button id="upload_placeholder_image" onclick="triggerImageUpload(this);">
                                <img src="{% static "assets/upload_placeholder_image_1.png" %}" style="width: 100%; height: 100%">
                          </button>
                      </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div id="croppie_container_image2" class="croppie-div">
                          <button id="upload_placeholder_image2" onclick="triggerImageUpload(this);">
                                <img src="{% static "assets/upload_placeholder_image_2.png" %}" style="width: 100%; height: 100%">
                          </button>
                      </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div id="croppie_container_image3" class="croppie-div">
                          <button id="upload_placeholder_image3" onclick="triggerImageUpload(this);">
                                <img src="{% static "assets/upload_placeholder_image_3.png" %}" style="width: 100%; height: 100%">
                          </button>
                      </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div id="croppie_container_image4" class="croppie-div">
                          <button id="upload_placeholder_image4"  onclick="triggerImageUpload(this);">
                                <img src="{% static "assets/upload_placeholder_image_4.png" %}" style="width: 100%; height: 100%">
                          </button>
                      </div>
                  </div>
              </div>

        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}


            <fieldset class="form-group">

                {{ form|crispy }}
                <input id="crop_dimensions_image" name="crop_dimensions_image" style="display: none">
                <input id="crop_dimensions_image2" name="crop_dimensions_image2" style="display: none">
                <input id="crop_dimensions_image3" name="crop_dimensions_image3" style="display: none">
                <input id="crop_dimensions_image4" name="crop_dimensions_image4" style="display: none">

            </fieldset>

            <!-- Display form errors-->
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div style="text-align: center; margin: 5% 20% 10% 20%">
                <button class="standard-swapdrop-btn" type="submit">Upload</button>
            </div>
        </form>


        <script>

            // hidden upload <input> elements for each image
            let uploadedImage = document.getElementById('id_image');
            let uploadedImage2 = document.getElementById('id_image2');
            let uploadedImage3 = document.getElementById('id_image3');
            let uploadedImage4 = document.getElementById('id_image4');

            // Call the processFile every time the chosen image is changed
            uploadedImage.addEventListener("change", processFile);
            uploadedImage2.addEventListener("change", processFile)
            uploadedImage3.addEventListener("change", processFile)
            uploadedImage4.addEventListener("change", processFile)

            // Each time crop changes store the crop dimensions in a hidden input
            $('#croppie_container_image').on('update.croppie', getCropDimensions);
            $('#croppie_container_image2').on('update.croppie', getCropDimensions);
            $('#croppie_container_image3').on('update.croppie', getCropDimensions);
            $('#croppie_container_image4').on('update.croppie', getCropDimensions);
        </script>



        <script>
            // Hide sizes that are only applicable to the gender not selected
            $('#id_gender').on('change', function() {
                let selectedValue = $("#id_gender").val();
                let selectedGender = $("#id_gender").find("option").filter(function() {return $(this).val() === selectedValue;}).text()
                let menSizes = $("#id_size").find("option").filter(function () { return $(this).html().includes("Men"); });
                let womenSizes = $("#id_size").find("option").filter(function () { return $(this).html().includes("Women"); });
                if (selectedGender === 'Menswear'){
                    menSizes.show();
                    womenSizes.hide();
                } else if ((selectedGender === 'Womenswear')){
                    menSizes.hide();
                    womenSizes.show();
                } else {
                    // for Unisex
                    menSizes.show();
                    womenSizes.show();
                }
            })
        </script>
    </div>
{% endblock content %}