{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="row">
            <div class="col">
                <img src="{{ object.image.url }}" width="100%">
            </div>

            <div class="col">
              <h2 class="article-title">{{ object.name }}</h2>

              <p class="article-content">{{ object.description }}</p>

              {% if object.owner == user %}
                <div>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product-update' object.id %}">Update</a>
                  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product-delete' object.id %}">Delete</a>
                </div>
              {% else %}
                  <button style="width: 30%" class="btn btn-outline-info" type="submit" onclick="location.href='{% url 'product-like' product.id %}'">
                      I want this!
                  </button>

              {% endif %}

            </div>
        </div>
{% endblock content %}