{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10 }' style="margin-left: 10%">
            {% for product in products %}
                      <a href="{% url 'product-detail' product.id %}">
                        <img class="img-thumbnail grid-item" src="{{ product.image.url }}" style="max-width: 45%">
                      </a>
            {% endfor %}
    </div>
{% endblock content %}