<!-- Base class for 'Your items' and 'Offers made' pages-->
{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% load user_agents %}
{% block content %}
    <div {% if request|is_mobile %} style="margin-left: 5%; margin-right: 5%" {% else %} style="margin-left: 20%; margin-right: 20%" {% endif %}>
        <div class="row">
            <div class="col-3">
                <a class="profile-img-btn" data-toggle="tooltip" title="Edit Profile" href="{% url "profile-info" %}">
                    <img class="rounded-circle profile-img" src="{{ user.profile.image.url }}">
                </a>
            </div>

            <div class="col-6">
                <ul class="profile-text-container" style="list-style: none;">
                    <li>
                        <h2 class="profile-username">{{ user.username }}</h2>
                    </li>
                    <li>
                        <p> Bio will go here.....</p>
                    </li>
                </ul>

            </div>

            <div class="col-3">
                <!-- Block below will be filled with upload button ONLY for your profile-->
                {% block upload_button %}
                {% endblock %}
            </div>
        </div>

        <!-- Block below will be filled with Your Items / Offers Made tab ONLY for your profile-->
        {% block your_items_offers_made_tab %}
        {% endblock %}

        <!-- Block below will be filled by all sub-templates -->
        {% block profile_feed %}
        {% endblock %}
    </div>

{% endblock content %}