{% extends "products/_base_feed_component.html" %}
{% block single_product %}
  <div class="col-md-3 product-container" style="margin-top:20px">
      <a href="{% url 'product-detail' product.id %}" style="width: 100%">
        <img class="grid-item thumbnail" src="{{ product.image.url }}" style="width: 100%; visibility: hidden">
      </a>

      {% if product.status.label == 'Live' %}
          <a class="offer-status-icon" style="visibility: hidden" href="{% url 'review-offers' product.id %}"> {{ product.number_of_offers }} offers</a>
      {% elif product.status.label == 'Pending Checkout'%}
          <a class="offer-status-icon" style="visibility: hidden" href="{% url 'shipping_address_redirect' product.id %}">Matched! Click to Checkout</a>
      {% elif product.status.label == 'Checkout Complete'%}
          <p class="offer-status-icon" style="visibility: hidden"> Collecting Soon!</p>
      {% elif product.status.label == 'Collected'%}
          <p class="offer-status-icon" style="visibility: hidden">Collected</p>
      {% endif %}
  </div>
{% endblock %}