{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Swapdrop</title>
</head>
<body>
    <div class="signup-background">
        <div class="row" style="width: 100%">
            <div class="col-4">
                <div>
                    <span class="swapdrop-header"> Swapdrop </span>
                    <img src="{% static "assets/white_logo.png" %}" style="vertical-align: middle; width: 25px">
                </div>
                <img src="{% static "assets/orange_logo_transparent_background.png" %}" style="width: 150%">
            </div>

            <div class="col-4">
                {% block form %}
                {% endblock %}
            </div>

            <div class="col-4 no-gutters">
                <img src="{% static "assets/half_desktop_mockup.png" %}" style="width: 80%; margin-top: 10%; float: right; margin-right: -10%">
            </div>
        </div>
    </div>
</body>
</html>