{% extends "users/_profile_base.html" %}

{% block profile_pic %}
    <a class="profile-img-btn" data-toggle="tooltip" title="Edit Profile" href="{% url "profile-info" %}">
        <img class="rounded-circle profile-img" src="{{ user.profile.image.url }}">
    </a>
{% endblock profile_pic %}

{% block users_username %}
    <h2 class="profile-username">{{ user.username }}</h2>
{% endblock users_username %}

{% block users_bio %}
    <p> Current logged in users bio</p>
{% endblock users_bio %}

{% block upload_button %}
    <a href="{% url 'product-create' %}">
        <button class="upload-button"> +</button>
    </a>
{% endblock upload_button %}


{% block your_items_offers_made_tab %}
    <div class="row profile-tab-row">
            <div class="col-6 profile-tab-col">
                <a id="your-items-link" href="{% url "profile-your-items" %}">
                    Your items
                </a>
            </div>
            <div class="col-6 profile-tab-col">
                <a id="offers-made-link" href="{% url "profile-offers-made" %}">
                    Offers made
                </a>
            </div>
        </div>

        {{ request.resolver_match.url_name|json_script:"current-url" }}
        <script>
            // add underline to 'your items' or 'offers made' tab depending on url name
            // currentUrlName is defined in base.html
            if (currentUrlName.includes('your-items')) {
                $("#your-items-link").parent().addClass("selected_profile_tab_underline")
            } else if (currentUrlName.includes('offers-made')) {
                $("#offers-made-link").parent().addClass("selected_profile_tab_underline")
            }
        </script>
{% endblock %}