{% extends "products/_base_feed.html" %}
{% block single_product %}
  <div class="product-container">
      <a href="{% url 'product-detail' product.id %}" style="width: 100%">
        <img class="grid-item thumbnail" src="{{ product.image.url }}" style="width: 100%; visibility: hidden">
      </a>

      {% if product.status.label == 'Live' %}
          <a class="offer-status-icon" style="visibility: hidden" href="{% url 'product-detail' product.id %}"> {{ product.number_of_offers }}</a>
      {% elif product.status.label == 'Pending Checkout'%}
          <a class="offer-status-overlay" style="visibility: hidden" href="{% url 'product-detail' product.id %}">{{ product.hours_left_to_checkout }} hours to checkout</a>
      {% elif product.status.label == 'Checkout Complete'%}
          <a class="offer-status-overlay" style="visibility: hidden" href="{% url 'product-detail' product.id %}"> Collecting Soon</a>
      {% elif product.status.label == 'Collected'%}
          <a class="offer-status-overlay" style="visibility: hidden" href="{% url 'product-detail' product.id %}">Collected</a>
      {% elif product.status.label == 'Delivered'%}
          <a class="offer-status-overlay" style="visibility: hidden" href="{% url 'product-detail' product.id %}">Swapped</a>
      {% endif %}


  </div>
{% endblock %}