{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% load user_agents %}
{% block content %}
      <div class="row" {% if request|is_pc %} style="margin-left: 20%; margin-right: 20%" {% endif %}>
        <div class="col-3">
            <a class="profile-img-btn" data-toggle="tooltip" title="Edit Profile" href="{% url "profile-info" %}">
                <img class="rounded-circle profile-img" src="{{ user.profile.image.url }}">
            </a>
        </div>

        <div class="col-6">
            <ul class="profile-text-container" style="list-style: none;">
                <li>
                    <h2 class="profile-username">{{ user.username }}</h2>
                </li>
                <li>
                    <p> Bio will go here.....</p>
                </li>
            </ul>

        </div>

        <div class="col-3">
            <a href="{% url 'product-create' %}">
                <button class="upload-button"> + </button>
            </a>
        </div>
      </div>

      {% include "users/_profile_feed_component.html" %}
{% endblock content %}