{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="media">
          <a class="btn" data-toggle="tooltip" title="Edit Profile" href="{% url "profile-info" %}">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        </a>
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
        </div>
      </div>
      <div style="text-align: center">
            <a class="btn btn-outline-info" style="width: 30%; margin-bottom: 20px" href="{% url 'product-create' %}">Upload Item</a>
      </div>

      {% include "users/_profile_feed_component.html" %}
{% endblock content %}