/* Container needed to position the button. Adjust the width as needed */
.product-container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.product-container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.product-container .offer-status-icon {
  position: absolute;
  top: 0px;
  left: 6%;
  background-color: #a39e9e;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
