.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 20px #9ecaed;
}

.account-img:hover {
    box-shadow:0 0 40px #9ecaed;
}

.account-heading {
  font-size: 2.5rem;
}

/* Container needed to position the button. Adjust the width as needed */
.product-container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.product-container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.product-container .offer-status-icon {
  position: absolute;
  top: 0px;
  left: 6%;
  background-color: #a39e9e;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.btn.btn-info {
  background: grey;
  border-color: grey;
}

.btn.btn-info.focus.active{
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*Sign-Up Form*/

.signup-background{
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgb(240, 153, 54)), color-stop(50%,rgb(255, 255, 255)), color-stop(0%,rgb(255, 59, 0)));
}

.signup-background-mobile{
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(255,59,0,1) 0%, rgba(255,100,0,1) 100%);
}

.swapdrop-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  color: white;
  font-weight: 800;
  margin-top: 50px;
}

.swapdrop-header-mobile {
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  color: white;
  font-weight: 800;
  margin-left: 10%;
  margin-top: 10%;
}


.signup-container{
  text-align: center;
  background: white;
  border: solid #bbb5b5 1px;
  border-radius: 40px;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.signup-legend{
  text-align: center;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  margin-top: 10%;
  margin-bottom: 10%;
}

.postcode-warning{
  text-align: center;
  color: red;
  display: none;
  font-size: 8pt;
  font-family: 'Montserrat', sans-serif;
  margin-left: 1%;
}

.signup-footer{
  text-align: center;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 8pt;
  font-weight: bold;
  margin-bottom: 25px;
}

.signup-button {
  width: 80%;
  left: -100%;
  background: linear-gradient(45deg, rgba(255,59,0,1) 0%, rgba(255,100,0,1) 100%);
  border-radius: 28px;
  border: 1px solid #b4a9a9;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
  transition: all 0.4s;
}

.signup-button:hover{
  background: linear-gradient(45deg, rgba(255,100,0,1) 0%, rgba(255,59,0,1) 100%);
}

.signup-button:focus{
  /*aware this is bad practice -- needs changing*/
  outline: none;
}

.signup-container input {
    width: 75%;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    margin-bottom: 20px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: lightgray;
}

.signup-container label{
  display: none;
}

.signup-container .errorlist{

  color: red;
  font-size: 8pt;
  font-family: 'Montserrat', sans-serif;
  list-style: none
}





