.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 20px #9ecaed;
}

.account-img:hover {
    box-shadow:0 0 40px #9ecaed;
}

.account-heading {
  font-size: 2.5rem;
}

/* Container needed to position the button. Adjust the width as needed */
.product-container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.product-container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.product-container .offer-status-icon {
  position: absolute;
  top: 0px;
  left: 6%;
  background-color: #a39e9e;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.postcode-warning{
  color: red;
  display: none;
  font-size: 2vw;
  margin-left: 1%;
}

.btn.btn-info {
  background: grey;
  border-color: grey;
}

.btn.btn-info.focus.active{
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;

  box-shadow: none;
}



